[user]
  name = Josh Newman
	email = josh.newman4390@gmail.com
[includeIf "gitdir:~/code/"]
  path = ~/code/.gitconfig
[color]
  ui = true
[alias]
  lol = log --oneline --graph --decorate
  st = status -s
  cam = commit -am
  co = checkout
  cob = checkout -b
  cleanup = !git co master && git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d
[core]
  editor = code --wait
	excludesfile = /Users/josh/.gitignore_global
[push]
  default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
