[user]
  name = Josh Newman
	email = josh.newman4390@gmail.com
[color]
  ui = true
[alias]
  lol = log --oneline --graph --decorate
  st = status -s
  cam = commit -am
  co = checkout
  cob = checkout -b
[core]
  editor = atom --wait
	excludesfile = /Users/josh/.gitignore_global
[push]
  default = simple
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
